{% extends "base.html" %}

{% block title %}Войти{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>Ваш ник и пароль не совпадают. Повторите снова.</p>
    {% else %}
        <p>Пожалуйста, заполните форму логина:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}